
.tab-content > .tab-pane{
  /* margin-top: 60px;
  /*  navbar　min-height:50px  */
  /*  navbarに合わせてマージンとるより、navbarの設定をfixからstickyに書き換えた方が確実  */
}
/*
nav.navbar{
  position:sticky;
  top:0;
  margin:0;
}
*/
h2{
  margin: 5rem 0;
  text-align:center;
}

